# Core Data Analysis & Math
numpy
pandas
scipy
openpyxl

# Visualization
matplotlib
seaborn

# Machine Learning & Modeling
scikit-learn
xgboost
lightgbm
catboost
statsmodels
joblib

# Jupyter Notebook & Kernel Support
ipykernel
